include MANIFEST.in
include README.rst
include requirements.txt
include crwyoauth/VERSION
recursive-include crwyoauth/templates *
recursive-include crwyoauth/static *
recursive-include crwyoauth/locale *